<!--<div class="jumbotron text-center">-->
<!--<h1>Payment Page</h1>-->

<!--<p>{{ message }}</p>-->
<!--</div>-->


<div class="row">

    <div class="col-sm-5">
        <div class="jumbotron" id="left_section_payment">

            <div class="heading_payment">
                Earning Summary
            </div>

            <div class="horizontal_line"></div>

            <div class="row">
                <div class="col-sm-8"><p>Total base earnings</p>
                </div>

                <div class="col-sm-3"><i class="fa fa-inr"></i>
                    <p id="total_base_earnings"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8"><p>Total off hour bonus</p>
                </div>

                <div class="col-sm-3"><i class="fa fa-inr"></i>
                    <p id="overall_peak_bonus"></p>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-8"><p>Total rating bonus</p>
                </div>

                <div class="col-sm-3"><i class="fa fa-inr"></i>
                    <p id="overall_rating_bonus"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8"><p>Current earnings</p>
                </div>

                <div class="col-sm-3"><i class="fa fa-inr"></i>
                    <p id="current_earnings"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8"><p>Tax deductible</p>
                </div>

                <div class="col-sm-3"><i class="fa fa-inr"></i>
                    <p id="tax_deducted"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8"><p>Amount payable</p>
                </div>

                <div class="col-sm-3"><i class="fa fa-inr"></i>
                    <p id="amount_payable"></p>
                </div>
            </div>

            <div class="horizontal_line"></div>

            <div class="row">
                <div class="col-sm-8"><p><span style="color: #7a7982;font-size:18px;"> <b>Total amount paid</b></span>
                </p>
                </div>

                <div class="col-sm-3"><i class="fa fa-inr"></i>
                    <p id="total_amount_paid"></span></p>
                </div>
            </div>

        </div>
    </div>


    <div class="col-sm-6" id="right_section_payment">
        <div class="jumbotron">


            <div class="heading_payment">
                Lesson Wise Summary
            </div>

            <div class="horizontal_line"></div>

            <div class="transactions">

                <h4 style="text-align: center; color: gray" id="no_previous_lessons">You have no previous lessons</h4>

                <!--<div class="row">-->
                <!--<div class="col-sm-6">-->
                <!--<div class="session_id">Session ID : qeqw</div>-->

                <!--<div class="timers">-->
                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->

                <!--<span style="color: #00aa66">10:21:34 </span>-->
                <!--</span>-->

                <!--<span style="margin-left: 20px"></span>-->

                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                <!--<span style="color: #00aa66; margin-left: 2px">10:21:34 </span>-->
                <!--</div>-->

                <!--</div>-->

                <!--<div class="col-sm-6 right">-->
                <!--<p><span style="color: darkgrey">Student Name : </span>Line 1</p>-->
                <!--<p><span style="color: darkgrey">Topic : </span>Line 1</p>-->
                <!--<p><span style="color: darkgrey">Credited </span> <i class="fa fa-inr"></i>Line 1</p>-->
                <!--<div class="horizontal_line"></div>-->
                <!--</div>-->
                <!--</div>-->


            </div>

        </div>
    </div>


</div>

