<link rel="stylesheet" href="../styles/topics_dashboard.css"/>

<div>
    <!--<p>{{ message }}</p>-->


    <div id="sidenav_topics" class="sidenav2">

        <div class="spaceMaker"></div>
        <div class="line"></div>

        <p id="exam_text_in_side_nav">Qualified Exams</p>


        <div class="container2">
            <ul id="exam_subject_list">
            </ul>
        </div>


    </div>


    <div class="container container-table">
        <div class="row vertical-center-row">


            <div class="subject_indicator"><p id="subject_text"></p>
                <p id="topics_text_helper" style="text-align: center">Choose the topics you wish to tutor and then click Save.</p>
            </div>


            <div id="text">Choose a subject to add topics.</div>

            <div class="jumbotron">
                <div class="container3" id="topic_container">

                </div>
            </div>
            <div class="button2" id="save">
                <p class="btnText" id = "save_text">Save</p>
            </div>


        </div>
    </div>


</div>