
.glyphicon.glyphicon-user {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
    color: black;
}

.nav.navbar-nav.navbar-right > li > a {
    color: #2CA7B2;
}

/*.nav.navbar-nav.navbar-right > li > a:hover, .nav.navbar-nav.navbar-right > li > a:focus {*/
/*color: black;*/
/*font-size: 20px;*/
/*transition: 0.5s;*/
/*}*/

.glyphicon-list-alt, .glyphicon-pencil, .glyphicon-credit-card {
    color: #2CA7B2;
}

.navbar-right {
    font-size: 18px;
    margin-left: 100px;
    text-align: end;
    padding-right: 50px;
}

.navbar-brand {
    position: absolute;
    left: 250px;
    display: inline;
}

.navbar-toggle {
    z-index: 3;
}

.logo_header {
    display: block;
    position: absolute;
    top: 18px;
    margin-left: 0px;
}

.logo_name {
    display: block;
    position: relative;
    margin-top: 7px;
    margin-left: 150px;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-left: 1px solid;
    padding-left: 10px;
    line-height: 40px;
}

.profile_header_text {
    display: inline-block;
    height: 30px;
    top: 20px;
    padding-left: 10px;
    position: absolute;
    color: #0a1a32;
    font-size: 14px;
    font-weight: 800;
}

.profile_header_name {
    height: 40px;
    top: 40px;
    padding-left: 10px;
    display: inline-block;
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    color: #0a1a32;

}

.navbar.navbar-default {
    padding: 0px;
    height: 80px;
    background: white;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.navbar-right {
    display: inline;
}

.container.head {
    padding: 0px;
    margin: 0px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.profile_section {
    background: #ffce0e;
    width: 250px;
    height: 80px;
    display: inline-block;
    left: 0px;
    border-right: thin double #0a1a32;
    cursor: pointer;
}

/*a.fill-div {*/
/*display: block;*/
/*height: 100%;*/
/*width: 100%;*/
/*text-decoration: none;*/
/*}*/
